### Estudo dos dados dos tickers

Importando bibliotecas

In [2]:
from database import Db
import os
from datetime import datetime
from dotenv import load_dotenv
import pandas as pd

Carregando envs

In [3]:
load_dotenv()

os.getenv("FROM_DATE")

#UMA DATA QUE PODE SER USADA PARA SELECIONAR DADOS A PARTIR DE UMA DATA, QUANDO None PEGA TODOS OS DADOS
FROM_DATE =  os.getenv("FROM_DATE") if os.getenv("FROM_DATE") != 'None' else None 

DB_CONFIG = {
    "host": os.getenv("DB_HOST"),
    "port": os.getenv("DB_PORT"),
    "dbname": os.getenv("DB_NAME"),
    "user": os.getenv("DB_USER"),
    "password": os.getenv("DB_PASSWORD"),
}

Carregando dados

In [5]:
conn = Db(db_config = DB_CONFIG)#datetime.now().replace(hour=0, minute=1, second=0, microsecond=0).strftime("%Y-%m-%d")    
tickers_data = conn.get_data_tickers(FROM_DATE)

df = pd.DataFrame(data=tickers_data)

df.head()

,ticker,open,high,low,close,volume,date
0,MSFT,422.579987,422.820007,416.709991,417.130005,16582300,2024-10-02 00:00:00+00:00
1,MSFT,417.630005,419.549988,414.290009,416.540009,13686400,2024-10-03 00:00:00+00:00
2,MSFT,418.239990,419.750000,414.970001,416.059998,19169700,2024-10-04 00:00:00+00:00
3,MSFT,416.000000,417.109985,409.000000,409.540009,20919800,2024-10-07 00:00:00+00:00
4,MSFT,410.899994,415.660004,408.170013,414.709991,19229300,2024-10-08 00:00:00+00:00